@model MeteoriteViewModel

<h1>Dowload</h1>

<div class="row">
    <div class="col-6">
        <form asp-controller="Meteorite" asp-action="DowloadData" method="post">
            <button type ="submit" class="btn btn-primary">Dowload</button>
        </form>
    </div>
</div>